@model iForce.Core.Models.Pagination
@{
    int startIndex = 1;
    if (Model.CurrentPageIndex == 1)
    {
        startIndex = 1;
    }
    else if (Model.CurrentPageIndex == Model.PageCount)
    {
        startIndex = Model.PageCount - 2;
        if (startIndex < 1) { startIndex = 1; }
    }
    else if (Model.CurrentPageIndex - 1 > 1)
    {
        startIndex = Model.CurrentPageIndex - 1;
    }
}
<br />
<div>
    @if (Model.CurrentPageIndex == 1)
    {
        <a class="btn btn-default disabled" >First</a>
    }
    else
    {
        <a class="btn btn-default" href="javascript:PagerClick(1);">First</a>
    }
    @if (Model.CurrentPageIndex <= 1)
    {
        <a class="btn btn-default disabled">Previous</a>
    }
    else
    {
        <a class="btn btn-default" href="javascript:PagerClick(@Model.CurrentPageIndex - 1);">Previous</a>
    }

    @for (int i = startIndex; i <= startIndex + 2 && i <= Model.PageCount; i++)
    {

        <span>
            @if (i != Model.CurrentPageIndex)
            {
                <a class="btn btn-default" href="javascript:PagerClick(@i);">@i</a>
            }
            else
            {
                <span class="btn btn-primary disabled">@i</span>
            }
        </span>

    }
    @if (Model.CurrentPageIndex >= Model.PageCount)
    {
        <a class="btn btn-default disabled" >Next</a>
    }
    else
    {
        <a class="btn btn-default" href="javascript:PagerClick(@Model.CurrentPageIndex + 1);">Next</a>
    }
    @if (Model.CurrentPageIndex == Model.PageCount)
    {
        <a class="btn btn-default disabled" >Last</a>
    }
    else
    {
        <a class="btn btn-default" href="javascript:PagerClick(@Model.PageCount);">Last</a>
    }
    <div class="pull-right text-bold">Total Records: @Model.TotalRecords</div>
</div>